body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Added background color for the entire body */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; 

    font-weight: bold;
}

.hero {
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:   
 #fff;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom:   
 30px;
}

.hero-content button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}